<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reshefelisha.xkcdnowwidget"
    android:versionCode="6"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.reshefelisha.xkcdnowwidget.NOWWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".NowAppWidgetProvider" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.reshefelisha.xkcdnowwidget.NOW_WIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
		</receiver>
		
        <service
            android:label="@string/now_wallpaper"
            android:name=".NOWWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/now_wallpaper" />
        </service>
    </application>

</manifest>
